%*%

#fish related
fish_history
fishd.*
fish/.config/fish/plugins
fish/.config/fish/themes

#ranger related
__*__

#vim tmp 
*~

#emacs related 
\#*#
emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/autosaves
emacs/.emacs.d/auto-save-list
emacs/.emacs.d/backups
emacs/.emacs.d/elpa/archives
emacs/.emacs.d/tramp
emacs/.emacs.d/url

#mutt related
accountrc_*
mutt/.mutt/cache
mutt/.mutt/*cache