%*%

#fish related
fish_history
fishd.*
fish/.config/fish/plugins
fish/.config/fish/themes

#ranger related
__*__
ranger/.config/ranger/bookmarks
ranger/.config/ranger/history
ranger/.config/ranger/tagged

#vim tmp 
*~

#emacs related 
\#*#
emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/autosaves
emacs/.emacs.d/auto-save-list
emacs/.emacs.d/backups
emacs/.emacs.d/elpa/archives
emacs/.emacs.d/tramp
emacs/.emacs.d/url
emacs/.emacs.d/savehist

#mutt related
accountrc_*
mutt/.mutt/cache
mutt/.mutt/*cache
*.gpg

#ncmpcpp related
error.log