URxvt*saveLines:32767
URxvt*font: xft:Source\ Code\ Pro\ Medium:pixelsize=13:antialias=true:hinting=true,xft:Source\ Code\ Pro\ Medium:pixelsize=13:antialias=true:hinting=true
URxvt*scrollBar: false
URxvt*cursorBlink: true
URxvt*buffered: false
!-- Xft settings --!
!Xft.dpi: 96
!Xft.antialias: true
!Xft.rgba: rbg
!Xft.hinting: true
!Xft.hintstyle: hintfull

! color1    # HOST
! color2    # SYNTAX_STRING
! color3    # COMMAND
! color4    # COMMAND_COLOR2
! color5    # PATH
! color6    # SYNTAX_VAR
! color7    # PROMP
! color8    #
! color9    #
! color10   # COMMAND_ERROR
! color11   # EXEC
! color12   #
! color13   # FOLDER
! color14   #
! color15   #
! color16   #
URxvt*color0:  #2c3e50
URxvt*color1:  #c0392b
URxvt*color2:  #27ae60
URxvt*color3:  #f39c12
URxvt*color4:  #2980b9
URxvt*color5:  #8e44ad
URxvt*color6:  #16a085
URxvt*color7:  #bdc3c7
URxvt*color8:  #34495e
URxvt*color9:  #e74c3c
URxvt*color10: #2ecc71
URxvt*color11: #f1c40f
URxvt*color12: #3498db
URxvt*color13: #9b59b6
URxvt*color14: #2AA198
URxvt*color15: #ecf0f1
URxvt*background: #1F2D3A
! URxvt*foreground: #1abc9c
! URxvt*foreground: #bc3e75
! URxvt*foreground: #24c8f1
URxvt*foreground: #f1a95b
URxvt*cursorColor: #24c8f1
